/*Fuentes*/
@font-face{ 
	font-family: 'SEASIDERESORT';
	src: url('../fonts/SEASRN__-webfont.eot');
	src: url('../fuentes/SEASRN__-webfont.eot?iefix') format('eot'),
	     url('../fonts/SEASRN__-webfont.woff') format('woff'),
	     url('../fonts/SEASRN__-webfont.ttf') format('truetype'),
	     url('../fonts/SEASRN__-webfont.svg') format('svg');
}

@font-face{ 
	font-family: 'CaviarDreams';
	src: url('../fonts/CaviarDreams-webfont.eot');
	src: url('../fuentes/CaviarDreams-webfont.eot?iefix') format('eot'),
	     url('../fonts/CaviarDreams-webfont.woff') format('woff'),
	     url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
	     url('../fonts/CaviarDreams-webfont.svg') format('svg');
}

@font-face{ 
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
	src: url('../fuentes/RobotoCondensed-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
	     url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/RobotoCondensed-Regular-webfont.svg') format('svg');
}

/*==========================Estructura principal============================*/
#global{
    font-family: CaviarDreams;
    background-image: url("../img/fondo8.png");
    background-size: cover;
    font-size: 27px;
    background-position: center;
}

.clearfix {
    overflow: auto;
  }
/*=================Título====================*/
#principal{
    background-color: transparent;
}

#logoI{
    margin: 0px auto;
    width: 80%;
    height: 350px;
    background-image: url("../img/image2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#logoIn{
    margin: 0px auto;
    width: 80%;
    height: 350px;
    background-image: url("../img/image6.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logoC{
    margin: 0px auto;
    width: 80%;
    height: 350px;
    background-image: url("../img/image5.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logoE{
    margin: 0px auto;
    width: 80%;
    height: 350px;
    background-image: url("../img/image4.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logoK{
    margin: 0px auto;
    width: 80%;
    height: 350px;
    background-image: url("../img/image3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logoI h1,
#logoIn h1,
#logoK h1,
#logoC h1,
#logoE h1{
    font-family: RobotoCondensed;
    font-size: 6vw;
    color: #ccc;
    padding-top: 230px;
    padding-left: 20px;
    background-color: white;
    background-image: url("../img/fondo8.png");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/*==========================Menú===========================*/

#menu{
    font-family: CaviarDreams;
    background: #ccc;
    width: 80%;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin: 0px auto;
}

#menu ul{
    line-height: 47px;
    list-style: none;
}

#menu li{
    font-size: 2vw;
    display: inline-block;
    transition: all 300ms;
}

#menu ul li:hover{
    line-height: 46px;
    border-radius: 15px;
    -moz-transform: translate(0px,5px);  
    -webkit-transform: translate(0px,5px);  
    transform: translate(0px,5px);
    font-weight: bold;
}

#menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

/*=========================Contenido=============================*/

#slider{
    margin: 0px auto;
    padding-left: 25%;
    margin-top: 30px;
    opacity: 1;
}

#slider .bx-wrapper, 
#slider .bx-viewport {
    height: 400px !important;
}

#slider .bx-wrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

#post{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    height: auto;
    background-color: #eee;
    opacity: 0.9;
    margin: 0px auto;
    font-family: CaviarDreams;
    text-align: justify;
}

#soy{
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 25px;
}

#estudios{
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 30px;
}

#obj{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 30px;
}

#proyectos{
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 30px;
}

#intereses{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 30px;
}

#trabajos{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 30px;
}

#trabajos a{
    color: black;
}

iframe{
    width: 560px;
    height: 315px;
}

#web{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    height: auto;
    width: 90%;
    line-height: 30px;
}

#izq{
    padding-bottom: 40px;
    width: 65%;
    margin: 0px auto;
    line-height: 25px;
    float: left;
}

#der{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 35%;
    margin: 0px auto;
    height: 300px;
    line-height: 5px;
    float: right;
}

#der img{
    margin: 0px auto;
    max-height: 50%;
    max-width: 50%;
}

form{
    font-family: CaviarDreams;
    padding: 20px;
}

form input[type="text"]{
    font-size: 1.5vw;
    display: block;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px black;
    margin-top: 5px;
}

form textarea{
    width: 60%;
    height: 100px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 10px;
    display: block;
}

form input[type="submit"]{
    font-family: CaviarDreams;
    font-size: 2vw;
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover{
    border: 1px solid black;
}

#box{
    width: 80%;
    height: auto;
    background-color: #eee;
    opacity: 0.8;
    margin: 0px auto;
    font-family: CaviarDreams;
}

#box h2{
    padding: 3%;
}


#acordeon{
    margin-top: 20px;
    margin: 0px auto;
    width: 90%;
}

#acordeon img{
    max-width: 70%;
    max-height: 70%;
    margin: 0px auto;
}

#contact{
    padding: 30px;
    text-align: justify;
}

/*=============Barras de progreso===============*/
#sw,
#ai,
#nx,
#se,
#a,
#cat,
#max,
#py,
#j,
#c,
#cccc,
#k,
#js,
#pss,
#lv,
#h,
#css,
#jq,
#ts,
#an,
#in,
#off,
#lin,
#cu,
#ps{
    width: 50%;
}

#acordeon .ui-accordion-header{ 
    background: rgb(0, 28, 185);
    color: white;
}

#acordeon .ui-accordion-content{
    background-color: #ccc;
    background-image: none;
    color: black;
 }

/*=========================Pie de página==========================*/

footer{
    font-family: CaviarDreams;
    font-size: 25px;
    color: white;
    height: 50px;
    width: 77%;
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
    opacity: 0.9;
}

.subir{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: right;
    cursor: pointer;
}
.subir:hover{
    -moz-transform: translate(0px,7px);  
    -webkit-transform: translate(0px,7px);  
    transform: translate(0px,-7px);
}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
}

/*Responsive web design*/
@media screen and (max-width: 800px){
    #global{
        font-size: 18px;
    }
    #logoI{
        width: 95%;
    }

    #logoIn{
        width: 95%;
    }

    #logoE{
        width: 95%;
    }

    #logoC{
        width: 95%;
    }

    #logoK{
        width: 95%;
    }

    #menu{
        width: 95%;
    }

    #menu li{
        font-size: 20px;
        width: 50%;
    }

    #slider{
        padding-left: 0%;
    }

    #acordeon img{
        max-width: 100%;
        max-height: 100%;
        margin: 0px auto;
    }

    #slider .bx-wrapper, 
    #slider .bx-viewport {
        height: 300px !important;
    }

    #post{
        width: 95%;
    }

    #soy{
        line-height: 18px;
    }
    
    #estudios{
        line-height: 18px;
    }

    #proyectos{
        line-height: 18px;
    }

    #intereses{
        line-height: 18px;   
    }

    #trabajos{
        line-height: 18px;
        margin-bottom: 30px;
    }

    #acordeon{
        width: 95%;
    }

    #web{
        line-height: 18px;
    }
    
    #izq{
        line-height: 18px;
    }
    
    #der{
        line-height: 3px;
    }

    iframe{
        margin: 0px auto;
        width: 280px;
        height: 200px;
    }
    
    #obj{
        line-height: 18px;
    }

    form input[type="text"]{
        font-size: 20px;
        width: 80%;
    }
    
    form textarea{
        width: 90%;
        height: 100px;
        font-size: 20px;
    }
    
    form input[type="submit"]{
        font-size: 25px;
    }

    footer{
        width: 86%;
        font-size: 10px;
    }

    #box{
        width: 95%;
    }
}